html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;
}

.button {
  box-sizing: border-box;
  display: inline-block;

  border: 2px solid black;
  padding: 5px 8px 4px 8px;

  font-family: 'PTSans';
  font-size: 12px;

  box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.wideButton {
  padding: 35px 80px 35px 80px;
}

.button:hover {
  color: #9800FE;
  border-color: #9800FE;

  box-shadow: 3px 3px 0px #9800FE;
}

.deviceBezelContainer {
  box-sizing: border-box;
  display: grid;

  height: 100%;

  padding: 18px 63px 0px 10px;

  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: minmax(55%, auto) auto;

  grid-gap: 0px 67px;

  grid-template-areas:
                    "tl tg tg"
                    "lb lb rb";
}

.deviceBezelContainer .deviceContainer {
  box-sizing: border-box;
  display: grid;

  margin: 0px;
  border: 2px solid black;
  padding: 15px 17px 15px 15px;

  grid-area: tl;

  grid-template-columns: auto 1fr auto;
  grid-auto-rows: max-content;

  grid-gap: 16px 0px;

  font-family: 'PTSans';
}

.deviceBezelContainer .deviceContainer .deviceImage {
  box-sizing: border-box;
}

.deviceBezelContainer .deviceContainer .deviceName {
  box-sizing: border-box;
  margin-left: 23px;

  align-self: center;

  font-size: 13px;
}

.deviceBezelContainer .deviceContainer .disabled {
  color: #989898;
}

.deviceBezelContainer .deviceContainer input[type="checkbox"] {
  appearance: none;
  position: relative;

  width: 12px;
  height: 12px;

  margin: 0;
  border: 1px solid black;
  border-radius: 2px;

  background-color: #ffffff;

  font: inherit;
}

.deviceBezelContainer .deviceContainer input[type="checkbox"]::before {
  position: absolute;
  display: none;

  content: "";

  width: 12px;
  height: 12px;

  top: -2px;

  background: black;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.deviceBezelContainer .deviceContainer input[type="checkbox"]:checked::before {
  display: inline-block;
}

.deviceBezelContainer .deviceContainer .disabled input[type="checkbox"] {
  border-color: #989898;
}

.deviceBezelContainer .deviceContainer .deviceFlag {
  box-sizing: border-box;
  margin-left: 35px;

  align-self: center;

  font-size: 12px;
}

.deviceBezelContainer .deviceContainer .deviceFlag input {
  box-sizing: border-box;

  display: inline-block;
  vertical-align: middle;
}

.deviceBezelContainer .deviceContainer .deviceFlag label {
  box-sizing: border-box;

  margin-left: 4px;
}

.deviceBezelContainer .bezelsContainer {
  box-sizing: border-box;
  display: grid;

  margin: 0px;
  padding: 0px;

  grid-area: tg;

  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;

  grid-gap: 1px 1px;
}

.deviceBezelContainer .bezelsContainer .bezelContainer {
  box-sizing: border-box;
  display: flex;

  border: 2px solid black;
  padding: 10px 7px 10px 7px;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}

.deviceBezelContainer .bezelsContainer .bezelContainer:hover {
  box-sizing: border-box;
  border-color: #9800FE;
}

.deviceBezelContainer .bezelsContainer .bezelContainer .indexContainer {
  box-sizing: border-box;
  flex-basis: auto;

  flex-grow: 1;
  flex-shrink: 1;

  font-family: 'PTSans';
  font-size: 16px;
}

.deviceBezelContainer .bezelsContainer .bezelContainer .selectedDeviceContainer {
  box-sizing: border-box;
  flex-basis: auto;

  flex-grow: 1;
  flex-shrink: 1;

  align-self: center;
}

.deviceBezelContainer .bezelsContainer .bezelContainer .selectedDeviceContainer .deviceImage {
  box-sizing: border-box;

  display: inline-block;
  vertical-align: middle;
}

.deviceBezelContainer .bezelsContainer .bezelContainer .selectedDeviceContainer .deviceNumber {
  box-sizing: border-box;

  display: inline-block;
  vertical-align: middle;

  font-family: 'PTSans';
  font-size: 15px;
}

.deviceBezelContainer .bezelsContainer .bezelContainer .selectedDeviceContainer .deleteDeviceButton {
  box-sizing: border-box;

  width: 11px;

  display: inline-block;
  vertical-align: top;

  cursor: pointer;
}

.deviceBezelContainer .bezelsContainer .bezelContainer .buttonContainer {
  box-sizing: border-box;
  flex-basis: auto;

  flex-grow: 0;
  flex-shrink: 1;

  text-align: center;
}

.deviceBezelContainer .leftButtonContainer {
  box-sizing: border-box;
  grid-area: lb;

  justify-self: center;
  align-self: center;
}

.deviceBezelContainer .rightButtonContainer {
  box-sizing: border-box;
  grid-area: rb;

  justify-self: flex-start;
  align-self: center;
}

.bezelConfigurationContainer {
  box-sizing: border-box;
  display: grid;

  height: 100%;

  padding: 45px 0px 10px 15px;

  grid-template-columns: minmax(auto, 19%) 1fr minmax(auto, 19%);
  grid-template-rows: auto min-content;

  grid-gap: 0px 15px;

  grid-template-areas:
                    "lt da rp"
                    "lp bb rp";
}

.bezelConfigurationContainer .leftToolbarContainer {
  box-sizing: border-box;
  display: grid;

  grid-area: lt;

  grid-gap: 12px 0px;

  grid-template-columns: 70% 30%;
  grid-auto-rows: min-content;
}

.bezelConfigurationContainer .leftToolbarContainer .leftToolbarContainerLabel {
  padding-right: 14px;

  text-align: right;
  align-self: center;

  font-family: 'PTSans';
  font-size: 13px;
}

.bezelConfigurationContainer .leftToolbarContainer .leftToolbarContainerInput {
  border: 2px solid black;

  font-family: 'PTSans';
  font-size: 13px;
}

.bezelConfigurationContainer .leftToolbarContainer .leftToolbarContainerInput::placeholder {
  text-align: right;

  font-family: 'PTSans';
  font-size: 13px;
}

.bezelConfigurationContainer .demoAreaContainer {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  grid-area: da;

  margin-bottom: 18px;
  border: 2px solid black;

  background-color: #6EA7DB;
}

.bezelConfigurationContainer .demoAreaContainer .demoElementContainer {
  box-sizing: border-box;
  position: relative;

  border: 2px solid black;

  background-color: #92C37C;
}

.bezelConfigurationContainer .rightPaddingContainer {
  box-sizing: border-box;

  grid-area: rp;
}

.bezelConfigurationContainer .leftPaddingContainer {
  box-sizing: border-box;

  grid-area: lp;
}

.bezelConfigurationContainer .buttonContainer {
  box-sizing: border-box;
  grid-area: bb;

  padding-bottom: 18px;
  text-align: center;
}

.bezelConfigurationContainer .buttonContainer .button {
  margin-left: 35px;
}

.bezelConfigurationContainer .buttonContainer .firstButton {
  margin-left: 0px;
}
